.styleCarousel {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    margin: 100px 16px 16px 16px;
    border-radius: 20px;
}

.styleItem {
    width: 100%;
    height: max-content;
}

.styleImg {
    width: 100%;
    min-height: 114.33px;
    max-height: 271px !important;
    border-radius: 20px;
}

.styleContainer {
    width: 100%;
    height: max-content;
    padding: 0px !important;
}
  